@model IEnumerable<AboutLanguage>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">SmallHeader:</th>
                <th scope="col">MainHeader:</th>
                <th scope="col">MainText:</th>
                <th scope="col">SecondHeader:</th>
                <th scope="col">FirstStratHeader:</th>
                <th scope="col">FirstStratText:</th>
                <th scope="col">SecondStratHeader:</th>
                <th scope="col">SecondStratText:</th>
                <th scope="col">ThirdStratHeader:</th>
                <th scope="col">ThirdStratText:</th>
                <th scope="col">FourthStratHeader:</th>
                <th scope="col">FourthStratText:</th>
                <th scope="col">Image:</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <th>@item.SmallHeader</th>
                    <th>@item.MainHeader</th>
                    <th>@item.MainText</th>
                    <th>@item.SecondHeader</th>
                    <th>@item.FirstStratHeader</th>
                    <th>@item.FirstStratText</th>
                    <th>@item.SecondStratHeader</th>
                    <th>@item.SecondStratText</th>
                    <th>@item.ThirdStratHeader</th>
                    <th>@item.ThirdStratText</th>
                    <th>@item.FourthStratHeader</th>
                    <th>@item.FourthStratText</th>
                    <th>@item.AboutId</th>
                    <th>@item.LanguageId</th>
                    <td>
                        <a asp-controller="AboutLanguage" asp-action="update" asp-route-id="@item.Id">
                            <i class="fas fa-edit text text-primary"></i>
                        </a>
                    </td>
                    <td>
                        <a onclick="if(!confirm('Are you sure?')){return false;}"
                       asp-controller="AboutLanguage" asp-action="remove" asp-route-id="@item.Id"
                           class=" delete-item"><i class="fas fa-trash text text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="AboutLanguage" asp-action="create" style="display: block; text-decoration: none; color: white; width: 100%; height: 100%" a>
            <div style="width:100%; " class="btn btn-outline-success">Create AboutLanguage</div>
        </a>
    </div>
</div>
